body{
    background: #fafafa;
}
.header {
    height: 59px;
    border-bottom: 1px solid #404553;
    background-color: #393D49;
}
.panner{
    width: 100%;background-color: #5dbfb6;height: 220px;text-align: center;color: white;
    cursor: pointer;
}
.panner h1{
    padding-top: 60px;
    line-height: 32px;
    font-size: 30px;
    font-weight: 300;
}
.panner p {
    padding-top: 20px;
    color: #e2e2e2;
    color: rgba(255,255,255,.8);
}
.layui-carousel>[carousel-item]>* {
    background-color: #009688;
}


.article-line{
    height: 50px;
    border-bottom: 1px solid rgba(121, 113, 113, 0.3);
    line-height: 50px;
    font-size: 18px;
}

.article-line .title{
    float: left;
    width: 80%;
    color: rgba(64, 59, 59, 0.87);
    font-family: unset;
}
.article-line .time{
    float: left;
    color: rgba(64, 59, 59, 0.87);
    font-family: unset;
}