<h3>最受欢迎的开源库</h3>
{% for gitee in site.data.gitees %}
<a href="{{gitee.url}}" target="_blank" class="card text-center">
    <div class="thumbnail">
        <div class="card-image geopattern" data-pattern-id="{{gitee.reponame}}">
            <div class="card-image-cell">
                <h3 class="card-title">
                    {{gitee.reponame}}
                </h3>
            </div>
        </div>
        <div class="caption">
            <div class="card-description">
                <p class="card-text">{{ gitee.description }}</p>
            </div>
            <div class="card-text">
                <span class="meta-info" title="{{gitee.stars}} stars">
                    <span class="octicon octicon-star"></span> {{gitee.stars}}
                </span>
                <span class="meta-info" title="{{gitee.forks}} forks">
                    <span class="octicon octicon-git-branch"></span> {{gitee.forks}}
                </span>
                <span class="meta-info" title="Last updated：{{gitee.lastupt}}">
                    <span class="octicon octicon-clock"></span> {{gitee.lastupt}}
                </span>
            </div>
        </div>
    </div>
</a>
{% endfor %}
